body{
    direction: rtl;
    margin: 0;
    font-family: IRANSansFa;
}
a{
    text-decoration: none;
}
li{
    list-style-type:none ;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.container{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}